.Navbar{
  background-color: #141a19;
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  height:200px;

}
.navbarTitle{
  margin:0;
  width:100%;
}
.initialBuffer{
  height: 200px;
}
.playButton{
  margin-top:10px;
  width:100%;
}